<ion-view>
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" icon="ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-title>{{course.name}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        Time: {{course.timestart}}
        <br />
        name:{{course.name}}
        <br />
        students:{{course.students}}
        <br />
        time now: {{hour}}
        <br />
        <button class="button button-assertive" ng-disabled="isTime()">
            Check In
        </button>
    </ion-content>
</ion-view>